* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #121212;
  color: white;
  display: flex;
  height: 100vh;
}

/*sidebar*/
.sidebar {
  width: 220px;
  background-color: #000;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 15px 0;
  color: #b3b3b3;
  cursor: pointer;
}

.sidebar ul li:hover {
  color: white;
}

/*Main Content*/
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.topbar {
  display: flex;
  color: rgb(0, 255, 106);
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.section-title {
  font-size: 22px;
  margin-bottom: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.card {
  background: #181818;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: #282828;
}

.card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.card p {
  font-size: 12px;
  color: #b3b3b3;
}
/*Player*/
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #181818;
  border-top: 1px solid #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.player .song-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player .song-info img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.player .controls {
  display: flex;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
}

.player .volume {
  width: 100px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
